body {
  margin: 0;
  padding: 0;
  position: relative;
}

#bottom-right-button {
  display: none; /* Inizialmente nascosto */
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff2800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Stile per il bottone in basso a destra */
#bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightslategray;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: right 0.5s ease;
  right: -100px;
}

button {
  border-radius: 20px;
  color: white;
  width: auto;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

button#homeButton {
  background-color: #ff2800;
}

@media screen and (max-width: 600px) {
  .logo-container {
    justify-content: center;
  }
}

.foto-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 10px 10px 10px;
}

footer {
  background-color: #1c1c1c;
  color: white;
  padding: 15px;
  text-align: center;
  bottom: 0;
  text-align: left;
}

footer h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contatti {
  margin-bottom: 20px;
}

.contatti p {
  margin: 5px 0;
}

.collegamenti ul {
  list-style-type: none;
  padding: 0;
}

.collegamenti li {
  margin-bottom: 5px;
}

.collegamenti a {
  color: #ff2800;
  text-decoration: none;
}

.collegamenti a:hover {
  text-decoration: underline;
}

/* Aggiungi un'animazione per far apparire gradualmente l'immagine */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Applica l'animazione all'elemento che contiene le immagini */
.foto-container img {
  animation: fadeIn 2.5s ease forwards;
  opacity: 0; /* Imposta l'opacità iniziale a 0 */
}
